<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Text Summarizer</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="index.css">
</head>


<body>
    <div class="Heading">
        <h1>EXTRACTIVE TEXT SUMMARIZER</h1>
    </div>
    
    <div class="mid">
        <form method="POST" action="/process" class="form">
            <h3>Enter Your Text Here</h3>
            <textarea class="text" name="input_text" cols="5" rows="10" required="true" placeholder="Enter Text Here" style="width:60%">{{ input_text }}</textarea>
            <br>
            <br>
            <h3>Enter The No. of Lines To Summarize It In</h3>
            <textarea class="nol" name="nol" cols="5" rows="1" required="true" placeholder="Enter Number of Lines" style="width:60%" oninput="this.value = this.value.replace(/[^0-9]/g, '');">{{ nol }}</textarea>
            <br> 
            <div class="button-container">
                <button class="resetbut" type="reset" value="reset">Clear</button>
                <button class="submitbut" type="submit" value="reset">Summarize</button>
            </div>
            <br>
            <br>

            <div class="input-field">
                {% if error_message %}
                    <div class="error-message">
                        {{ error_message }}
                    </div>
                {% endif %}
            </div>
        </form>
    </div>
</body>
</html>
